body.active {
  height: 100%;
  overflow: hidden;
}
.header_v2_m_mask {
  display: none;
  height: 0.9rem;
  background: #201c38;
  width: 100%;
}
.header_v2_m {
  display: none;
  width: 100%;
  height: 0.9rem;
  z-index: 102;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
}
.header_v2_m.active {
  height: 100%;
  min-height: 10rem;
  -webkit-transition: height .4s;
  -o-transition: height .4s;
  -moz-transition: height .4s;
  transition: height .4s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}
.header_v2_m.active .whiteBj {
  height: 100%;
  -webkit-transition: height .7s .2s;
  -o-transition: height .7s .2s;
  -moz-transition: height .7s .2s;
  transition: height .7s .2s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header_v2_m.start {
  height: 0.9rem;
  -webkit-transition: height .4s;
  -o-transition: height .4s;
  -moz-transition: height .4s;
  transition: height .4s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header_v2_m.drakShow header .headerIndicate span {
  background: #737475;
}
.header_v2_m.showProductNav {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .4s;
  -o-transition: height .4s;
  -moz-transition: height .4s;
  transition: height .4s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header_v2_m .whiteBj {
  width: 100%;
  position: absolute;
  height: 0;
  background: #201c38;
  -webkit-transition: height .7s .2s;
  -o-transition: height .7s .2s;
  -moz-transition: height .7s .2s;
  transition: height .7s .2s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header_v2_m header {
  width: 100%;
  height: 0.9rem;
  position: relative;
}
.header_v2_m header.blackBj {
  background: rgba(0, 0, 0, 0.95);
}
.header_v2_m header .logo {
  width: 2.14rem;
  height: 0.52rem;
  display: block;
  position: relative;
  background: url("../images/public/v2/logo.png") no-repeat center / contain;
  -webkit-background-size: 75% 75%;
     -moz-background-size: 75%;
          background-size: 75%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header_v2_m header .backNav {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 20px;
  height: 30px;
  left: 50%;
  top: 0;
  margin: 5px 0 0 -15px;
}
.header_v2_m header .backNav:hover {
  background: none;
  -webkit-tap-highlight-color: transparent;
}
.header_v2_m header .backNav i {
  display: block;
  background: #737475;
  width: 10px;
  height: 1px;
  opacity: 0;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m header .backNav .backLeft {
  -webkit-transform: translateX(0) translateY(14px) rotateZ(0deg);
     -moz-transform: translateX(0) translateY(14px) rotateZ(0deg);
      -ms-transform: translateX(0) translateY(14px) rotate(0deg);
       -o-transform: translateX(0) translateY(14px) rotateZ(0deg);
          transform: translateX(0) translateY(14px) rotateZ(0deg);
}
.header_v2_m header .backNav .backRight {
  -webkit-transform: translateX(10px) translateY(14px) rotateZ(0deg);
     -moz-transform: translateX(10px) translateY(14px) rotateZ(0deg);
      -ms-transform: translateX(10px) translateY(14px) rotate(0deg);
       -o-transform: translateX(10px) translateY(14px) rotateZ(0deg);
          transform: translateX(10px) translateY(14px) rotateZ(0deg);
}
.header_v2_m header .backNav.active {
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m header .backNav.active .backLeft {
  -webkit-transform: translateX(1px) translateY(14px) rotateZ(-45deg);
     -moz-transform: translateX(1px) translateY(14px) rotateZ(-45deg);
      -ms-transform: translateX(1px) translateY(14px) rotate(-45deg);
       -o-transform: translateX(1px) translateY(14px) rotateZ(-45deg);
          transform: translateX(1px) translateY(14px) rotateZ(-45deg);
  opacity: 1;
}
.header_v2_m header .backNav.active .backRight {
  -webkit-transform: translateX(8px) translateY(13px) rotateZ(45deg);
     -moz-transform: translateX(8px) translateY(13px) rotateZ(45deg);
      -ms-transform: translateX(8px) translateY(13px) rotate(45deg);
       -o-transform: translateX(8px) translateY(13px) rotateZ(45deg);
          transform: translateX(8px) translateY(13px) rotateZ(45deg);
  opacity: 1;
}
.header_v2_m header .headerIndicate {
  width: 20px;
  height: 31px;
  position: absolute;
  right: 0;
  top: 50%;
  margin: 0 0.2rem;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header_v2_m header .headerIndicate span {
  width: 20px;
  height: 1px;
  position: absolute;
  top: 15px;
  left: 0;
  background: #fff;
  display: block;
  opacity: 1;
  -webkit-transform-origin: 50%;
     -moz-transform-origin: 50%;
      -ms-transform-origin: 50%;
       -o-transform-origin: 50%;
          transform-origin: 50%;
}
.header_v2_m header .headerIndicate span.closeTop {
  top: 8px;
  -webkit-transition: all .4s .6s linear;
  -o-transition: all .4s .6s linear;
  -moz-transition: all .4s .6s linear;
  transition: all .4s .6s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m header .headerIndicate span.closeBottom {
  top: 22px;
  -webkit-transition: all .4s .6s linear;
  -o-transition: all .4s .6s linear;
  -moz-transition: all .4s .6s linear;
  transition: all .4s .6s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m header .headerIndicate span.closeMiddle {
  opacity: 1;
  width: 20px;
  -webkit-transition: all .2s .4s;
  -o-transition: all .2s .4s;
  -moz-transition: all .2s .4s;
  transition: all .2s .4s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m header.active section .closeTop {
  -webkit-transform: rotateZ(225deg);
     -moz-transform: rotateZ(225deg);
      -ms-transform: rotate(225deg);
       -o-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
  top: 14px;
  background: #737475;
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  -o-transition: -o-transform .4s linear;
  -moz-transition: transform .4s linear, -moz-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear, -moz-transform .4s linear, -o-transform .4s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m header.active section .closeBottom {
  top: 14px;
  background: #737475;
  -webkit-transform: rotateZ(135deg);
     -moz-transform: rotateZ(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
  -webkit-transition: -webkit-transform .4s linear;
  transition: -webkit-transform .4s linear;
  -o-transition: -o-transform .4s linear;
  -moz-transition: transform .4s linear, -moz-transform .4s linear;
  transition: transform .4s linear;
  transition: transform .4s linear, -webkit-transform .4s linear, -moz-transform .4s linear, -o-transform .4s linear;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m header.active section .closeMiddle {
  opacity: 0;
  width: 0;
  -webkit-transition: opacity .1s;
  -o-transition: opacity .1s;
  -moz-transition: opacity .1s;
  transition: opacity .1s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu {
  width: 100%;
  height: -webkit-calc(100% - 0.9rem);
  height: -moz-calc(100% - 0.9rem);
  height: calc(100% - 0.9rem);
  overflow: auto;
  margin: 0;
  padding: 0;
  z-index: 100;
  -webkit-transform-origin: center top;
     -moz-transform-origin: center top;
      -ms-transform-origin: center top;
       -o-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotateX(90deg);
     -moz-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
}
.header_v2_m menu.menuActive {
  -webkit-transform: rotateX(0);
     -moz-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
}
.header_v2_m menu.menuActive .menu .navMessage {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all .5s .2s;
  -o-transition: all .5s .2s;
  -moz-transition: all .5s .2s;
  transition: all .5s .2s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(2) .navMessage {
  -webkit-transition: all .5s .27s;
  -o-transition: all .5s .27s;
  -moz-transition: all .5s .27s;
  transition: all .5s .27s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(3) .navMessage {
  -webkit-transition: all .5s .34s;
  -o-transition: all .5s .34s;
  -moz-transition: all .5s .34s;
  transition: all .5s .34s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(4) .navMessage {
  -webkit-transition: all .5s .41s;
  -o-transition: all .5s .41s;
  -moz-transition: all .5s .41s;
  transition: all .5s .41s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(5) .navMessage {
  -webkit-transition: all .5s .48s;
  -o-transition: all .5s .48s;
  -moz-transition: all .5s .48s;
  transition: all .5s .48s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(6) .navMessage {
  -webkit-transition: all .5s .55s;
  -o-transition: all .5s .55s;
  -moz-transition: all .5s .55s;
  transition: all .5s .55s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(7) .navMessage {
  -webkit-transition: all .5s .62s;
  -o-transition: all .5s .62s;
  -moz-transition: all .5s .62s;
  transition: all .5s .62s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(8) .navMessage {
  -webkit-transition: all .5s .69s;
  -o-transition: all .5s .69s;
  -moz-transition: all .5s .69s;
  transition: all .5s .69s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(9) .navMessage {
  -webkit-transition: all .5s .76s;
  -o-transition: all .5s .76s;
  -moz-transition: all .5s .76s;
  transition: all .5s .76s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(10) .navMessage {
  -webkit-transition: all .5s .83s;
  -o-transition: all .5s .83s;
  -moz-transition: all .5s .83s;
  transition: all .5s .83s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(11) .navMessage {
  -webkit-transition: all .5s .91s;
  -o-transition: all .5s .91s;
  -moz-transition: all .5s .91s;
  transition: all .5s .91s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(12) .navMessage {
  -webkit-transition: all .5s .98s;
  -o-transition: all .5s .98s;
  -moz-transition: all .5s .98s;
  transition: all .5s .98s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu.menuActive .menu:nth-of-type(13) .navMessage {
  -webkit-transition: all .5s 1.05s;
  -o-transition: all .5s 1.05s;
  -moz-transition: all .5s 1.05s;
  transition: all .5s 1.05s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
  z-index: 10;
  opacity: 1;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav section {
  width: 100%;
  overflow: hidden;
}
.header_v2_m menu nav section .navMessage {
  height: 0.9rem;
  line-height: 0.9rem;
  -webkit-transform: translateX(100px);
     -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
       -o-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  -webkit-transition: all .5s .5s;
  -o-transition: all .5s .5s;
  -moz-transition: all .5s .5s;
  transition: all .5s .5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  font-size: 0.24rem;
  color: white;
  margin: 0 0.3rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
}
.header_v2_m menu nav section .navMessage::after {
  width: 100%;
  height: 0;
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 10;
  border-bottom: 1px solid #737475;
}
.header_v2_m menu nav section .navMessage span {
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #737475;
  border-right: 1px solid #737475;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  display: block;
  position: absolute;
  right: 3px;
  top: 50%;
  margin-top: -5px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: -o-transform .5s;
  -moz-transition: transform .5s, -moz-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav section ul {
  height: 0;
  overflow: hidden;
  margin: 0 0.3rem;
  -webkit-transition: height .4s;
  -o-transition: height .4s;
  -moz-transition: height .4s;
  transition: height .4s;
}
.header_v2_m menu nav section ul li {
  width: 33.33%;
  opacity: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-top: 0.2rem;
  float: left;
  text-align: center;
}
.header_v2_m menu nav section ul li a {
  text-align: center;
  width: 100%;
}
.header_v2_m menu nav section ul li a img {
  height: 1.5rem;
}
.header_v2_m menu nav section ul li a > p,
.header_v2_m menu nav section ul li a span {
  display: block;
  text-align: center;
  font-size: 0.2rem;
  color: #737475;
}
.header_v2_m menu nav section ul li a.more {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.header_v2_m menu nav section ul li a i {
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  display: inline-block;
  border: 1px solid #0068b7;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  color: #0068b7;
  font-size: 0.36rem;
  margin-top: 0;
}
.header_v2_m menu nav section.active .navMessage {
  color: #0068b7;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav section.active .navMessage::after {
  background: #0068b7;
}
.header_v2_m menu nav section.active .navMessage span {
  border-bottom: 1px solid #0068b7;
  border-right: 1px solid #0068b7;
  -webkit-transform: rotateZ(-135deg);
     -moz-transform: rotateZ(-135deg);
      -ms-transform: rotate(-135deg);
       -o-transform: rotateZ(-135deg);
          transform: rotateZ(-135deg);
  margin-top: 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: -o-transform .5s;
  -moz-transition: transform .5s, -moz-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
}
.header_v2_m menu nav section.login .subNav li {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 0.9rem;
  line-height: 0.9rem;
  margin-top: 0;
  -webkit-transform: translateX(0.5rem);
     -moz-transform: translateX(0.5rem);
      -ms-transform: translateX(0.5rem);
       -o-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
  display: block;
  position: relative;
}
.header_v2_m menu nav section.login .subNav li::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #737475;
  left: 0;
  bottom: 1px;
}
.header_v2_m menu nav section.login .subNav li a {
  color: #737475;
  display: block;
  padding-left: 0.2rem;
  font-size: 0.24rem;
  text-align: left;
}
.header_v2_m menu nav section.login img {
  margin: 0.25rem 0 0 0.05rem;
  width: 0.40rem;
  display: block;
}
.header_v2_m menu nav section .users {
  -webkit-border-radius: 0.4rem;
     -moz-border-radius: 0.4rem;
          border-radius: 0.4rem;
}
.header_v2_m menu nav section.search i {
  display: block;
  margin: 0.28rem 0 0 0.05rem;
  width: 0.33rem;
  height: 0.31rem;
  background: url(../images/public/v2/search_icon.png) no-repeat right bottom / contain;
}
.header_v2_m menu nav .menu ul {
  height: 0;
  overflow: hidden;
}
.header_v2_m menu nav .menu1.active ul {
  height: 2rem;
  -webkit-transition: height .4s;
  -o-transition: height .4s;
  -moz-transition: height .4s;
  transition: height .4s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .menu1.active ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .menu1.active ul li:nth-of-type(2) {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .8s .2s;
  -o-transition: all .8s .2s;
  -moz-transition: all .8s .2s;
  transition: all .8s .2s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .menu1.active ul li:nth-of-type(3) {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .8s .4s;
  -o-transition: all .8s .4s;
  -moz-transition: all .8s .4s;
  transition: all .8s .4s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .menu2.active ul {
  height: 4rem;
  -webkit-transition: height .8s;
  -o-transition: height .8s;
  -moz-transition: height .8s;
  transition: height .8s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .menu2.active ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
}
.header_v2_m menu nav .menu2.active ul li:nth-of-type(2),
.header_v2_m menu nav .menu2.active ul li:nth-of-type(5) {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .8s .2s;
  -o-transition: all .8s .2s;
  -moz-transition: all .8s .2s;
  transition: all .8s .2s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .menu2.active ul li:nth-of-type(3),
.header_v2_m menu nav .menu2.active ul li:nth-of-type(6) {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .8s .4s;
  -o-transition: all .8s .4s;
  -moz-transition: all .8s .4s;
  transition: all .8s .4s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .menu3.active ul {
  height: 6rem;
  -webkit-transition: height .8s;
  -o-transition: height .8s;
  -moz-transition: height .8s;
  transition: height .8s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .menu3.active ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
}
.header_v2_m menu nav .menu3.active ul li:nth-of-type(2),
.header_v2_m menu nav .menu3.active ul li:nth-of-type(5) {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .8s .2s;
  -o-transition: all .8s .2s;
  -moz-transition: all .8s .2s;
  transition: all .8s .2s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .menu3.active ul li:nth-of-type(3),
.header_v2_m menu nav .menu3.active ul li:nth-of-type(6) {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .8s .4s;
  -o-transition: all .8s .4s;
  -moz-transition: all .8s .4s;
  transition: all .8s .4s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu nav .login.active .Options {
  height: 1.8rem;
}
.header_v2_m menu nav .login.active .Options li {
  opacity: 1;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header_v2_m menu nav .login.active .Options li:nth-of-type(2) {
  -webkit-transition: all 0.8s 0.2s;
  -o-transition: all 0.8s 0.2s;
  -moz-transition: all 0.8s 0.2s;
  transition: all 0.8s 0.2s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header_v2_m menu nav.openSearch {
  height: 0;
  -webkit-transition: height .8s;
  -o-transition: height .8s;
  -moz-transition: height .8s;
  transition: height .8s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.header_v2_m menu .searchDiv {
  width: 100%;
  height: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  z-index: 5;
}
.header_v2_m menu .searchDiv section {
  left: 15%;
  width: 5.25rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.header_v2_m menu .searchDiv section::after {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-bottom: 1px solid white;
}
.header_v2_m menu .searchDiv.openSearch {
  height: 1rem;
  opacity: 1;
  -webkit-transition: all .8s .3s;
  -o-transition: all .8s .3s;
  -moz-transition: all .8s .3s;
  transition: all .8s .3s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.header_v2_m menu .searchDiv .searchSpan {
  width: 0.4rem;
  height: 0.38rem;
  padding: 0.1rem;
  display: block;
  position: absolute;
  left: 0;
  top: 0.3rem;
  z-index: 10;
  background: url(../images/public/v2/search_icon.png) no-repeat center;
  -webkit-background-size: 0.4rem 0.38rem;
     -moz-background-size: 0.4rem 0.38rem;
          background-size: 0.4rem 0.38rem;
}
.header_v2_m menu .searchDiv .searchSpan:active {
  background: #eee url(../images/public/v2/search_icon.png) no-repeat center;
  -webkit-background-size: 0.4rem 0.38rem;
     -moz-background-size: 0.4rem 0.38rem;
          background-size: 0.4rem 0.38rem;
}
.header_v2_m menu .searchDiv input {
  width: 5.25rem;
  position: absolute;
  padding: 0 0.5rem 0 0.7rem;
  margin: 0.3rem 0;
  height: 0.4rem;
  line-height: 0.4rem;
  left: 0;
  top: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background: transparent;
}
.header_v2_m menu .searchDiv input::-webkit-input-placeholder {
  color: white;
}
.header_v2_m menu .searchDiv input:-moz-placeholder {
  color: white;
}
.header_v2_m menu .searchDiv input::-moz-placeholder {
  color: white;
}
.header_v2_m menu .searchDiv input:-ms-input-placeholder {
  color: white;
}
.header_v2_m menu .searchDiv .closeInput {
  width: 0.5rem;
  height: 0.5rem;
  display: none;
  position: absolute;
  right: 0;
  top: 0.24rem;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  z-index: 10;
  background: #999;
}
.header_v2_m menu .searchDiv .closeInput span {
  position: relative;
  display: block;
}
.header_v2_m menu .searchDiv .closeInput span b {
  width: 0.3rem;
  height: 1px;
  display: block;
  background: #fff;
  position: absolute;
  left: 0.1rem;
  top: 0.24rem;
}
.header_v2_m menu .searchDiv .closeInput span .closeBT {
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.header_v2_m menu .searchDiv .closeInput span .closeBB {
  -webkit-transform: rotateZ(135deg);
     -moz-transform: rotateZ(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
}
.footer_v2_wap_container {
  background: url(../images/public/v2/foot_bg.jpg) center center no-repeat / cover;
}
#footNav {
  width: 100%;
  background: transparent;
  overflow: hidden;
  display: none;
}
#footNav .footNavLi {
  width: 100%;
}
#footNav .footNavLi section {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  color: white;
  font-size: 0.24rem;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
#footNav .footNavLi section p {
  position: relative;
  height: 0.9rem;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-left: 0.3rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#footNav .footNavLi section::after {
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  left: 0;
  z-index: 20;
  bottom: 0;
  background: #999;
}
#footNav .footNavLi section span {
  width: 6px;
  height: 6px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  margin-top: -3px;
  -webkit-transform: rotate(45deg) translateY(-50%);
     -moz-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
       -o-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  -webkit-transform-origin: 3px 3px;
     -moz-transform-origin: 3px 3px;
      -ms-transform-origin: 3px 3px;
       -o-transform-origin: 3px 3px;
          transform-origin: 3px 3px;
  display: block;
  position: absolute;
  right: 0.3rem;
  top: 50%;
  -webkit-transform-origin: center center;
     -moz-transform-origin: center center;
      -ms-transform-origin: center center;
       -o-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: -o-transform .5s;
  -moz-transition: transform .5s, -moz-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#footNav .footNavLi.active section {
  color: #fff;
  overflow: hidden;
}
#footNav .footNavLi.active section span {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transform-origin: center center;
     -moz-transform-origin: center center;
      -ms-transform-origin: center center;
       -o-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: -o-transform .5s;
  -moz-transition: transform .5s, -moz-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#footNav .footNavLi.active ul {
  -webkit-transition: height .8s;
  -o-transition: height .8s;
  -moz-transition: height .8s;
  transition: height .8s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
#footNav .footNavLi.active ul li {
  opacity: 1;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#footNav .footNavLi.active ul li:nth-of-type(2) {
  -webkit-transition: all .5s .2s;
  -o-transition: all .5s .2s;
  -moz-transition: all .5s .2s;
  transition: all .5s .2s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#footNav .footNavLi.active ul li:nth-of-type(3) {
  -webkit-transition: all .5s .4s;
  -o-transition: all .5s .4s;
  -moz-transition: all .5s .4s;
  transition: all .5s .4s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#footNav .footNavLi.active ul li:nth-of-type(4) {
  -webkit-transition: all .5s .6s;
  -o-transition: all .5s .6s;
  -moz-transition: all .5s .6s;
  transition: all .5s .6s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#footNav .footNavLi.active ul li:nth-of-type(5) {
  -webkit-transition: all .5s .8s;
  -o-transition: all .5s .8s;
  -moz-transition: all .5s .8s;
  transition: all .5s .8s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#footNav .footNavLi.active ul li:nth-of-type(6) {
  -webkit-transition: all .5s 1s;
  -o-transition: all .5s 1s;
  -moz-transition: all .5s 1s;
  transition: all .5s 1s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#footNav .footNavLi ul {
  width: 100%;
  height: 0;
  -webkit-transition: height .5s;
  -o-transition: height .5s;
  -moz-transition: height .5s;
  transition: height .5s;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
}
#footNav .footNavLi ul li {
  opacity: 0;
  -webkit-transform: translateX(1rem);
     -moz-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
       -o-transform: translateX(1rem);
          transform: translateX(1rem);
}
#footNav .footNavLi ul a {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0.6rem;
  display: block;
  height: .9rem;
  line-height: .9rem;
  color: #ddd;
  font-size: 0.18rem;
  position: relative;
}
#footNav .footNavLi ul a::after {
  width: 100%;
  height: 1px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
  background: #999;
}
#footNav .footNavLi ul a:active {
  background: #737475;
  color: #fff;
}
footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0.6rem 0;
  display: none;
}
footer .telphone {
  width: 100%;
  margin-bottom: 0.6rem;
  text-align: center;
  color: #737475;
  font-size: 0.16rem;
  line-height: 0.36rem;
}
footer .telphone a {
  font-size: 0.3rem;
  font-weight: 300;
  color: #737475;
}
footer .telphone .telA:active {
  color: #fff;
}
footer .telphone .consult {
  margin-top: 0.6rem;
  display: inline-block;
  padding: 0.11rem 0.36rem;
  font-size: 0.24rem;
  line-height: 0.36rem;
  color: #737475;
  border: 1px solid #737475;
  -webkit-border-radius: 0.46rem;
     -moz-border-radius: 0.46rem;
          border-radius: 0.46rem;
  text-align: center;
}
footer .telphone .consult:active {
  color: #fff;
  border: 1px solid #fff;
}
footer .logoGroup {
  width: 100%;
  margin-bottom: 0.3rem;
  text-align: center;
}
footer .logoGroup p:nth-of-type(1) {
  display: inline-block;
  padding: 0.08rem 0.04rem;
  text-align: center;
  border-bottom: 1px solid #323436;
}
footer .logoGroup p:nth-of-type(1) a {
  font-size: 0.2rem;
  color: #737475;
  display: inline-block;
}
footer .logoGroup p:nth-of-type(1) a i {
  font-size: 0.3rem;
  color: #737475;
}
footer .logoGroup p:nth-of-type(1) a:nth-of-type(2) {
  margin-left: 0.3rem;
}
footer .logoGroup p:nth-of-type(1) a:active {
  color: #fff;
}
footer .logoGroup p:nth-of-type(1) a:active i {
  color: #fff;
}
footer .logoGroup p {
  padding: 0.08rem 0.04rem;
}
footer .logoGroup p a i {
  font-size: 0.3rem;
  color: #737475;
}
footer .logoGroup p a:active {
  color: #fff;
}
footer .logoGroup p a:active i {
  color: #fff;
}
footer .logoGroup .iconP a {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
}
footer .logoGroup .iconP a:active {
  color: #fff;
}
footer .other {
  width: 100%;
}
footer .other .language {
  width: 100%;
  position: relative;
  margin: 0.16rem 0;
  font-size: 0.16rem;
  color: #737475;
  text-align: center;
}
footer .other .language .present {
  color: #737475;
  font-size: 0.16rem;
  margin-right: 0.26rem;
}
footer .other .language .present * {
  vertical-align: middle;
}
footer .other .language .select {
  position: absolute;
  width: 2.4rem;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  background: #201c38;
  -webkit-box-shadow: 0px 0px 15px #666;
     -moz-box-shadow: 0px 0px 15px #666;
          box-shadow: 0px 0px 15px #666;
  bottom: 0.5rem;
  left: 50%;
  height: 0;
  overflow: hidden;
  margin-left: -1.4rem;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
  transition: all .8s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
footer .other .language .select a {
  width: 2.4rem;
  height: 0.6rem;
  text-align: center;
  line-height: 0.46rem;
  font-size: 0.28rem;
  display: block;
  color: #666;
  background: #201c38;
  float: left;
  border-bottom: 1px solid #666;
}
footer .other .language .select a:last-child {
  border-bottom: none;
}
footer .other .language .select a i {
  width: 0.44rem;
  height: 0.44rem;
  margin: 0.08rem 0.3rem 0 0.3rem;
  display: block;
  float: left;
  background: url(../images/public/world.png) no-repeat bottom;
  -webkit-background-size: 0.42rem 0.42rem;
     -moz-background-size: 0.42rem;
          background-size: 0.42rem;
}
footer .other .language .select a span {
  line-height: 0.6rem;
  height: 0.6rem;
  float: left;
  display: block;
}
footer .other .language .select .america i {
  background: url(../images/public/America.jpg) no-repeat center;
  -webkit-background-size: 0.42rem 0.42rem;
     -moz-background-size: 0.42rem;
          background-size: 0.42rem;
}
footer .other .language .select .global:active {
  color: #fff;
}
footer .other .language .select .global:active i {
  background: url(../images/public/world1.png) no-repeat center;
  -webkit-background-size: 0.42rem 0.42rem;
     -moz-background-size: 0.42rem;
          background-size: 0.42rem;
}
footer .other .language .select.active {
  opacity: 1;
  height: auto;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
footer .other .language i {
  display: inline-block;
  width: 0.3rem;
  height: 0.2rem;
  margin-right: 5px;
  background: url(../images/public/china.png) no-repeat center;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
          background-size: 100%;
}
footer .other p {
  margin: 0;
  font-size: 0.16rem;
  line-height: 0.24rem;
  color: #737475;
  text-align: center;
}
footer .other p a {
  color: #737475;
  font-size: 0.16rem;
  margin-right: 0.26rem;
}
footer .other p a:last-of-type {
  margin: 0;
}
.wechatImg {
  position: fixed;
  bottom: 3rem;
  width: 0;
  height: 0;
  left: 50%;
  z-index: 110;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.wechatImg img {
  display: inline-block;
  text-align: center;
  height: 100%;
  pointer-events: auto;
}
.wechatImg.active {
  height: 3rem;
  width: 3rem;
  margin-left: -1.5rem;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#shielding {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#shielding.active {
  opacity: 1;
  height: 100%;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
@media screen and (max-width: 1090px) {
  .header_v2_m,
  .header_v2_m_mask {
    display: block;
  }
  .banner .banner_page {
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0.3rem!important;
    width: 100%;
    text-align: center;
  }
  .banner .banner_page .swiper-button-prev,
  .banner .banner_page .swiper-button-next {
    width: 0.36rem!important;
    height: 0.36rem!important;
  }
}
@media screen and (max-width: 980px) {
  #footNav.footer_v2_wap {
    display: block;
  }
  footer {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  html {
    height: 100%;
  }
}
